body {
    margin: 0;
    bottom: 0;
    overflow: hidden;
}

body::after {
    content: 'Слайд';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.slide {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    filter: blur(5px);
    animation: zoom-out 3s;
}

.active {
    display: flex;
}


.btn {
    position: absolute;
    top: 46%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    right: 5rem;
    transform: rotate(-45deg);
}

.left {
    left: 5rem;
    transform: rotate(135deg);
}


@keyframes zoom-out {
    from {
        transform: scale3d(1.1, 1.1, 1.1);
        transition: 1s;
    }

    to {
        transform: scale3d(1, 1, 1);
        transition: 1s;
    }
}